
/.vscode
/@CF
/@Community-Online-Tools
/@Dabs Framework
/@DayZ-Expansion-Bundle
/@DayZ-Expansion-Licensed
/@Namalsk Island
/@Namalsk Survival
/addons
/appcache
/battleye
/bliss
/config
/docs
/dta
/keys
/logs
/Profile
/server_manager
/ban.txt
/dayz.gproj
/DayZServer_x64.exe
/steam_api64.dll
/steamclient64.dll
/tier0_s64.dll
/vstdlib_s64.dll
/whitelist.txt
/!!!/profiles